.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-container {
  display: flex;
  align-items: baseline;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.address-container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-background-color);
  text-decoration: none;
}
.footer__logo-web {
  color: var(--accent-color);
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-background-color);
}
.footer__nav {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-social {
  margin-left: 70px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.footer-social__social-links {
  margin-top: 16px;
  display: flex;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  display: flex;
  fill: var(--rectangle-color);
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer-social__social {
  display: block;
  margin-left: 70px;
}

.footer-subscribe__subscribe-form {
  display: flex;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-subscribe__subscibe-field {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-subscribe__subscribe-input {
  width: 365px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  color: white;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.footer-subscribe__subscribe-box {
  margin-left: auto;
  @media screen and (max-width: 767px) {
    margin-left: 0;
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}
.footer-subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}
.footer-subscribe__subscribe-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  cursor: pointer;
  margin-left: 12px;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
  }
}
.footer-subscribe__send {
  margin-left: 10px;
}
