.hero {
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./Images/hero-background/hero-1200px.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./Images/hero-background/hero-1200px@2x.jpg);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(./Images/hero-background/hero-1200px@3x.jpg);
  }

  @media screen and (max-width: 767px) {
    background-image: url(./Images/hero-background/hero-480px.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./Images/hero-background/hero-480px@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(./Images/hero-background/hero-480px@3x.jpg);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 118px 0;
    background-image: url(./Images/hero-background/hero-768px.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./Images/hero-background/hero-768px@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(./Images/hero-background/hero-768px@3x.jpg);
    }
  }
}
.hero__tittle {
  text-decoration: none;
}
.hero__tittle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);

  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    max-width: 360px;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    width: 360px;
  }
}
.hero__button {
  color: var(--primary-text-color);
}
.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.06em;
}
