.hero {
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__tittle {
  text-decoration: none;
}
.hero__tittle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.hero__button {
  color: var(--primary-text-color);
}
.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.06em;
}
