:root {
  --primary-text-color: #212121;
  --primary-background-color: #fff;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --paragraph-text-color: #757575;
  --rectangle-color: #afb1b8;
  --rectangle-background-color: #f5f4fa;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
